.DS_Store

*.*
!*.py
!*.cpp
!*.h
!*.m
!*.R
!*.md
!*.tex
!*.sty
!*.gst
!.Renviron
!.gitignore
!.tm_properties
!*.tmproj
!*.sublime-project
!*.editorconfig
!*.Rproj
!*.yaml
!*.yml
!*.ep

RawData/*
RawData/*.*
!*.txt

tmp
recycle
test/*
!test/*.tex
!test/*.R


._*
.Rproj.user
